<GridLayout height="60" verticalAlignment="bottom">
  <GridLayout columns="*, *, *" height="60" style="background-color: rgb(151, 154, 160)">
    <GridLayout  col="0" backgroundColor="#F8A200"></GridLayout>
    <GridLayout col="0" [nsRouterLink]="['/emer']" (tap)="selectTab(0)">
      <Image #image1 src="~/app/icons/message.png" height="23" width="50"></Image>
    </GridLayout>
    <GridLayout col="1" [nsRouterLink]="['/map']" (tap)="selectTab(1)">
      <Image #image2 src="~/app/icons/maps-and-flags.png" height="25" width="50"></Image>
    </GridLayout>
    <!-- <GridLayout col="2"  (tap)="selectTab(2)">
      <Image #image3 src="~/app/icons/heart.png" height="25" width="25"></Image>
    </GridLayout> -->
    <!-- <GridLayout col="3" [nsRouterLink]="['/rec']" (tap)="selectTab(2)">
      <Image #image4 src="~/app/icons/feedback.png" height="25" width="25"></Image>
    </GridLayout> -->
    <GridLayout col="2" [nsRouterLink]="['/review']" (tap)="selectTab(2)">
      <Image #image5 src="~/app/icons/review.png" height="25" width="50"></Image>
    </GridLayout>
  </GridLayout>
</GridLayout>
