
<StackLayout style="background-color: rgb(26, 47, 80)">

    <!-- <Label text="Home" ></Label> -->
    <!-- <Button text="map" [nsRouterLink]="['/map']" class="btn btn-primary" marginTop="250"></Button>
    <Button text="recommendation" [nsRouterLink]="['/rec']" class="btn btn-primary"></Button>
    <Button text="emergency" [nsRouterLink]="['/emer']" class="btn btn-primary"></Button>
    <Button text="review" [nsRouterLink]="['/review']" class="btn btn-primary"></Button> -->

    <GridLayout>
        I am some text

        <Navbar row="1" ></Navbar>
    </GridLayout>

</StackLayout>


