<ns-action-bar title="Guardians"></ns-action-bar>
<StackLayout>
        <Image src="~/app/icons/soloLogo.png" height="40" marginTop="10" marginBottom="20"></Image>
    <ns-guardians-list [guardians]="addGuardianService.currentGuardians"></ns-guardians-list>
    <Button text="Add A Guardian" [nsRouterLink]="['/addAngel']" class="btn btn-primary btn-active" [handleSubmit]="addGuardianService.addContact"></Button>
    <Button text="Activate S.O.S." class="btn btn-primary btn-active" (tap)="serverService.activateSOS()" marginTop="20"></Button>
    <GridLayout>
        <Navbar row="1"></Navbar>
    </GridLayout>
</StackLayout>

