<StackLayout class="form" [formGroup]="form">

<Image src="~/app/icons/transparent.png" height="250"></Image>
  <StackLayout class="input-field" *ngIf="!isLogin">
    <Label class="label" text="First Name" ></Label>
    <TextField class="input" returnKeyType="next" [autocorrect]="false" autocapitalizationType="words"
      formControlName="firstname" #firstnameEl></TextField>
  </StackLayout>

  <StackLayout class="input-field" *ngIf="!isLogin">
    <Label class="label" text="Last Name" ></Label>
    <TextField class="input" returnKeyType="next" [autocorrect]="false" autocapitalizationType="words"
      formControlName="lastname" #lastnameEl></TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <Label
      class="label"
      text="E-Mail"
      [ngClass]="{ invalid: !emailControlIsValid }"
    ></Label>
    <TextField
      backgroundColor="rgb(199, 115, 238)"
      opacity="0.6"
      class="input"
      returnKeyType="next"
      keyboardType="email"
      [autocorrect]="false"
      autocapitalizationType="none"
      formControlName="email"
      #emailEl
      height="25"
      borderRadius="25"
      color="white"
    ></TextField>
    <Label
      *ngIf="!emailControlIsValid"
      text="Please enter a valid email."
    ></Label>
  </StackLayout>

  <StackLayout class="input-field">
    <Label
      class="label"
      text="Password"
      [ngClass]="{ invalid: !passwordControlIsValid }"
    ></Label>
    <TextField
      borderRadius="25"
      backgroundColor="rgb(199, 115, 238)"
      opacity="0.6"
      height="25"
      class="input"
      returnKeyType="done"
      [autocorrect]="false"
      autocapitalizationType="none"
      [secure]="true"
      hint="   Min 6 characters"
      color="white"
      formControlName="password"
      (returnPress)="onDone()"
      #passwordEl
    ></TextField>
    <Label
      *ngIf="!passwordControlIsValid"
      text="Must be 6+ characters long."
    ></Label>
  </StackLayout>

  <Button
    class="btn btn-flat"
    [text]="isLogin ? 'Signup' : 'Login'"
    (tap)="onSwitch()"
  ></Button>
  <Button
  class="btn"
    style="background-color: rgb(121, 46, 156); color: rgb(9, 125, 232)"
    [text]="isLogin ? 'Login' : 'Signup'"
    class="btn btn-primary btn-rounded-lg"
    (tap)="onSubmit()"
    [isEnabled]="form.valid"
    *ngIf="!isLoading"
  ></Button>

  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>

</StackLayout>
