<StackLayout class="form" [formGroup]="form" style="background-color: rgb(26, 47, 80)">
  <StackLayout class="input-field" >
    <Image src="~/app/icons/transparent.png" marginTop="20" ></Image>
    <Label
      class="label"
      text="E-Mail"
      [ngClass]="{ invalid: !emailControlIsValid }"
    ></Label>
    <TextField
      backgroundColor="darkgray"
      class="input"
      returnKeyType="next"
      keyboardType="email"
      [autocorrect]="false"
      autocapitalizationType="none"
      formControlName="email"
      #emailEl
      height="30"
    ></TextField>
    <Label
      *ngIf="!emailControlIsValid"
      text="Please enter a valid email."
    ></Label>
  </StackLayout>
  <StackLayout class="input-field">
    <Label
      class="label"
      text="Password"
      [ngClass]="{ invalid: !passwordControlIsValid }"
    ></Label>
    <TextField
      backgroundColor="darkgray"
      height="35"
      class="input"
      returnKeyType="done"
      [autocorrect]="false"
      autocapitalizationType="none"
      [secure]="true"
      hint="Min 6 characters"
      formControlName="password"
      (returnPress)="onDone()"
      #passwordEl
    ></TextField>
    <Label
      *ngIf="!passwordControlIsValid"
      text="Must be 6+ characters long."
    ></Label>
  </StackLayout>
  <Button
    class="btn btn-flat"
    [text]="isLogin ? 'Signup' : 'Login'"
    (tap)="onSwitch()"
  ></Button>
  <Button
    style="color: #AD4EDA; background-color: rgb(9, 125, 232)"
    [text]="isLogin ? 'Login' : 'Signup'"
    class="btn btn-primary btn-rounded-lg"
    (tap)="onSubmit()"
    [isEnabled]="form.valid"
    *ngIf="!isLoading"
  ></Button>
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</StackLayout>
