<!-- <GridLayout>
    <MapView (mapReady)="onMapReady($event)" [latitude]="lat" [longitude]="long">
    </MapView>
</GridLayout> -->

<StackLayout>
    <ActionBar title="NightLife"></ActionBar>
<!-- <ns-place-item
*ngFor='let place of nolaData'
[place]='place'
></ns-place-item> -->
<ContentView height="100%" width="100%">
    <Mapbox [accessToken]="your_token" mapStyle="dark" latitude="29.95465" longitude="-90.07507"
        hideCompass="true" zoomLevel="13" showUserLocation="false" disableZoom="false" disableRotation="false"
        disableScroll="false" disableTilt="false" (mapReady)="onMapReady($event)"
        showUserLocation="true" hideCompass='true'
        >
    </Mapbox>
</ContentView>

</StackLayout>
