<!-- <StackLayout>

    <ActionBar title="Recently Visited"></ActionBar>
    <Label
    color="white"
    text="{{locations.name}}"></Label>

<GridLayout>
<Navbar row="1"></Navbar>

</GridLayout>
</StackLayout> -->
<StackLayout>

    <ActionBar title="Recently Visited"></ActionBar>
    <Label color="white" text="{{location.name}}"
    >
    </Label>
<Label color="white" text="{{location.type}}"></Label>
<Label     color="white"
text="{{location.address}}"></Label>

<!-- <Button class="btn" text="Refresh" [nsRouterLink]="['/rec']"></Button> -->
<GridLayout>
<Navbar row="1"></Navbar>

</GridLayout>
</StackLayout>
